<div class='fixed inset-0 overflow-hidden pointer-events-none'>
  <div class='absolute inset-0 bg-background'></div>

  <div class='blob blob-a'></div>
  <div class='blob blob-b'></div>
  <div class='blob blob-c'></div>

  <div class='absolute inset-0 opacity-[0.02] bg-grid'></div>
</div>
