---
interface Props {
  href: string;
  title: string;
  subtitle: string;
}

const { href, title, subtitle } = Astro.props;
---

<a
  {href}
  target="_blank"
  rel="noopener noreferrer"
  class="featured-link"
>
  <div class="font-display font-bold">{title}</div>
  <div class="text-sm featured-link-subtitle">{subtitle}</div>
</a>
